  <!-- Template HTML document 
  Defines a couple of controls, with spans to show their values.
  includes a script.js and a styles.css
  
  created 6 Jan 2021 
  by Tom Igoe -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
  <title>Document</title>
</head>
<body>
  Time: <span id="time"></span><br>
  Power: <input type="button" id="power" value="off">
  <span id="powerVal"></span><br>
  Fan Speed: <input type="range" id="fanSpeed" min="0" max ="10" value="0">
  <span id="fanSpeedVal"></span><br>
</body>
</html>