<p class="header">
  <a href="{{site.baseurl}}/template">Project template</a> <br /> 
  <a href="{{site.baseurl}}/input-types">HTML input types</a> <br /> 
  <a href="{{site.baseurl}}/responsive-layout">Responsive layout example</a><br /> 
  <a href="{{site.baseurl}}/fetch">Fetch example</a><br /> 
  <a href="{{site.baseurl}}/qr-code">QRCode example</a><br /> 
  <a href="{{site.baseurl}}/websocket">WebSocket Example</a><br />
  <a href="{{site.baseurl}}/serialport">Serialport example</a><br /> 
  <a href="{{site.baseurl}}/geolocation">Geolocation example</a><br /> 
</p>