<p class="header">
  <a href="{{site.baseurl}}/#html-css-javascript-and-the-dom">HTML, CSS, JS & the DOM</a><br />
  <a href="{{site.baseurl}}/#positioning-and-layout-with-css">Positioning & Layout with CSS</a><br />
  <a href="{{site.baseurl}}/input-types">HTML input types</a> <br />
  <a href="{{site.baseurl}}/responsive-layout">Responsive layout example</a><br />
  <a href="{{site.baseurl}}/template">HTML Project template</a> <br />
  <a href="{{site.baseurl}}/fetch">JavaScript Fetch example</a><br />
  <a href="https://github.com/tigoe/html-for-conndev/tree/main/fetch-with-server">Fetch example with node.js server</a><br />
  <a href="{{site.baseurl}}/qr-code">QRCode example</a><br />
  <a href="{{site.baseurl}}/queryString">QRCode with custom Query String</a><br />
  <a href="{{site.baseurl}}/#a-local-web-server">Local Web Server</a><br />
  <a href="{{site.baseurl}}/DeviceDataDashboard">HTML Dashboard for incoming device data</a><br />
  <a href="{{site.baseurl}}/#communications-protocols">Communications Protocols</a><br />
  <a href="{{site.baseurl}}/#browsers-and-hardware-interfaces">Hardware APIs</a><br />
  <a href="{{site.baseurl}}/#web-bluetooth">Web Bluetooth</a><br />
  <a href="{{site.baseurl}}/websocket">WebSocket Example</a><br />
  <a href="{{site.baseurl}}/serialport">Serialport example (p5.serial)</a><br />
  <a href="{{site.baseurl}}/webSerial">WebSerial example (no p5.serial)</a><br />
  <a href="{{site.baseurl}}/geolocation">Geolocation example</a><br />
  <a href="{{site.baseurl}}/sensor-tests">Sensor API example</a><br />
</p>