@media screen and (max-width: 600px) {
  body {
      font-family: 'Helvetica', 'Arial', sans-serif;
      /* calculate the font size based on the view width:  */
      font-size: calc(18px + 6 * ((100vw) / 320));
      /* for comparison, see what 24px looks like: */
      /* font-size: 24px; */
  }
}

body {
  font-family: "Noto Sans", "Arial", sans-serif;
  font-size: 12pt;
  line-height: normal;
  width: calc((80vw);
}

input {
  position: sticky;
  left: 250px;
}

span {
  position: sticky;
  left: 250px;
}

section#controls {
  padding: 20px;
}

figcaption {
  font-style: italic;
}